<ng-container *ngIf="dataSource.length === 0">
  <div class="alert alert-warning">Brak danych. Wprowadź plik</div>
</ng-container>


<ng-container *ngIf="invalidPolicies > 0">
  <div class="alert alert-danger"><fa-icon [icon]="exclamationIcon"></fa-icon> Liczba niepoprawnie uzupełnionych polis: <B>{{invalidPolicies}}</B></div>
</ng-container>

<ng-container  *ngIf="dataSource.length !== 0">
  <div class="row">
    <div class="col-6">
      <mat-form-field appearance="standard">
        <mat-label>Filtr</mat-label>
        <input matInput placeholder="Wpisz wartość" (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    </div>
    <div class="col-6">
      <button class="btn btn-danger btn-sm" style="text-align: center;" (click)="deleteAll()"><fa-icon [icon]="trashIcon"></fa-icon> Usuń wszystkie polisy</button>
    </div>
  </div>

</ng-container>

<table *ngIf="dataSource.length !== 0" mat-table [dataSource]="tableDataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef class="bg-not-valid"> Nr polisy </th>
    <td mat-cell *matCellDef="let element"> {{element.number}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef class="w-85"> Typ polisy </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="sum">
    <th mat-header-cell *matHeaderCellDef> Suma</th>
    <td mat-cell *matCellDef="let element"> {{element.sum}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="w-85"> Imię </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> Nazwisko </th>
      <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>

  <ng-container matColumnDef="object">
    <th mat-header-cell mat-header-cell *matHeaderCellDef> Przedmiot </th>
    <td mat-cell *matCellDef="let element"> {{element.object}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell mat-header-cell *matHeaderCellDef style="justify-content: center"> Uwagi </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'bg-not-valid': !row?.valid }"></tr>
</table>

